[submodule "third_party/OmniSharpServer"]
	path = third_party/OmniSharpServer
	url = git@github.com:nosami/OmniSharpServer
[submodule "third_party/bottle"]
	path = third_party/bottle
	url = git@github.com:defnull/bottle
[submodule "third_party/frozendict"]
	path = third_party/frozendict
	url = git@github.com:slezica/python-frozendict
[submodule "third_party/waitress"]
	path = third_party/waitress
	url = git@github.com:Pylons/waitress
[submodule "third_party/requests"]
	path = third_party/requests_deps/requests
	url = git@github.com:requests/requests
[submodule "third_party/go/src/github.com/mdempsky/gocode"]
	path = third_party/go/src/github.com/mdempsky/gocode
	url = git@github.com:mdempsky/gocode
	ignore = dirty
[submodule "third_party/go/src/github.com/rogpeppe/godef"]
	path = third_party/go/src/github.com/rogpeppe/godef
	url = git@github.com:rogpeppe/godef
	ignore = dirty
[submodule "third_party/jedi"]
	path = third_party/jedi_deps/jedi
	url = git@github.com:davidhalter/jedi
[submodule "third_party/jedi_deps/numpydoc"]
	path = third_party/jedi_deps/numpydoc
	url = git@github.com:numpy/numpydoc
[submodule "third_party/parso"]
	path = third_party/jedi_deps/parso
	url = git@github.com:davidhalter/parso
[submodule "third_party/racerd"]
	path = third_party/racerd
	url = git@github.com:jwilm/racerd
[submodule "third_party/python-future"]
	path = third_party/python-future
	url = git@github.com:PythonCharmers/python-future
[submodule "third_party/cregex"]
	path = third_party/cregex
	url = git@github.com:micbou/regex.git
[submodule "third_party/urllib3"]
	path = third_party/requests_deps/urllib3
	url = git@github.com:urllib3/urllib3
[submodule "third_party/chardet"]
	path = third_party/requests_deps/chardet
	url = git@github.com:chardet/chardet
[submodule "third_party/certifi"]
	path = third_party/requests_deps/certifi
	url = git@github.com:certifi/python-certifi
[submodule "third_party/idna"]
	path = third_party/requests_deps/idna
	url = git@github.com:kjd/idna
